/* Change Brand name Font  */

.navbar{
font-family: 'Ubuntu', sans-serif;
font-size: 23m;
font-weight: bold;
}


/* change navigation Color */

.navbar #myMenu .custom-nav .nav-item a{
color: #fff;
}

/* change navigation Color */

.navbar #myMenu .custom-nav .nav-item a:hover {
    color: success;
}

/* make header Image Responsive */
.back-image {background-size: cover;
background-position: center center;
background-repeat: no-repeat;
min-height: 90vh;
border-radius: 0px;
margin-top: 74px;
}

/* header Image sub title */
.font-italic { font-size: 24px;
font-weight:bolder;
}


    a:hover{color: rgba(rgb(0, 208, 255), #0375f8, rgb(19, 171, 235), alpha);

    }

/* a {color: white;
    /* background-color: #8b8f90;} */  

    anchor tagged commented out for a reason

    .active {background-color: aqua;
    color: aqua;}
/* Mrgin for Welcome to Osm */
.mainHeading {
margin-top: 50px;

}

/*  */

@media only screen and (max-width: 600px) {
.myclass{
    margin-top: 350px;
    text-align: center;

}
}

.fi-color{
    color:rgb(255, 255, 255)
}

.fi-color:hover{
color: rgb(48, 117, 227);
}